.alert 
{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}

.alert-primary
{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-success 
{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger
{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.red-border
{
    border: 1px solid red;
}

.email-subscription-container {
    background-color: rgba(240, 244, 240, 1);
    padding:64px 12px;
    border: 1px solid rgba(0.4, 0.4, 0.4, 0.2);
    border-radius: 3px;
    text-align: center;
    max-width: 600px;
    margin: 64px auto;
}

.hero-header 
{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.hero-subscript
{
    padding: 0px;
    margin: 0px;
}

.email-subscription .inputs
{
    margin-top: 12px;
    box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
    display:inline-block;
}

.email-subscription input[type="email"]
{
    padding: 6px 12px;
    margin: 0;
    background-color: rgba(256, 256, 256, 1);
    border: 0;
    width: 400px;
}

.email-subscription input[type="email"]:active
{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.email-subscription input[type="submit"]
{
    cursor: pointer;
    padding: 6px 12px;
    margin: 0;
    color: rgba(256, 256, 256, 1);
    background-color: rgba(118, 206, 137, 1);
    border: 0;
}

.email-subscription .alert
{
    max-width: 498px;
    margin: 12px auto;
    font-size: 12px;
    padding: 0;
}
